<!DOCTYPE html>
<html>
  <head>
    <title>Weather Dashboard</title>
  </head>
  <body>
    <h1>Weather Dashboard</h1>
    <div id="locationField">
      <form action="/" method="post" id="weather-form">
        <input
          id="autocomplete"
          type="text"
          name="city"
          placeholder="Enter a city"
        />
        <input type="hidden" id="latitude" name="latitude" />
        <input type="hidden" id="longitude" name="longitude" />
        <button type="submit">Get Weather</button>
      </form>
    </div>

    <!-- Link to the external JavaScript file -->
    <script src="./javascripts/address_resolution.js" defer></script>

    <% if (weatherData) { %>
    <h2>Weather in <%= city %>:</h2>
    <p>Temperature: <%= weatherData.data.values.temperature %>°F</p>
    <% } else if (error) { %>
    <p>Error: <%= error %></p>
    <% } %>

    <h2>Request History (Total Requests: <%= totalDocuments %>)</h2>
    <ul>
      <% history.forEach(function(record) { %>
      <li><%= record.city %> - <%= record.date.toISOString() %></li>
      <% }) %>
    </ul>
  </body>
</html>
